body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1f2937;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links > a {
  color: #e5e7eb;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.header-logo {
  font-size: 1.5rem;
  color: #f9faf8;
}

.main-content {
  flex: 1;
}

footer {
  background-color: #1f2937;
}
